<style> @import url('https://fonts.googleapis.com/css2?family=Changa:wght@500;600&display=swap'); </style>
h2{
  font-family: "Times New Roman", Times, serif;
}

#clickhere{
  float: 100px;
}


a{
  color: black;
  width: 25%
}
.header {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  padding: 20px;
  font-size: 40px;
}

#schemanav{
  width: calc(100%/3)
}
#KauppiSnilleskola{
  float: center;
}
.topnav {
  background-color: #111;
  border-radius: 25px;
  border: 2px solid #73AD21;
  text-align: center; 
  width: 100%
}


body{
  background-color: #FAFCF9;
}


p{
  font-family: "Roboto"
  height: 200px;
  width: 500px;
  padding: 15px;
  border-radius: 10px;
  background-color: #black;
  font-family: 'Changa', sans-serif;
  
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #green;
  width: 100%
}

li {
  display: inline-block;
  float: left;
  width: 25%
}

li a {
  display: block;
  color:white;
  font-weight: bold;
  text-align: center;
  padding: 14px 16px;
  font-family: 'Changa', sans-serif;
  text-decoration: none;
  width: 100%
}

li a:hover {
  background-color: #green;
}


