h2{
  font-family: "Times New Roman", Times, serif;
}

#clickhere{
  float: 100px;
}

.header {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  padding: 20px;
  font-size: 40px;
}

#schemanav{
  width: calc(100%/3)
}

.topnav {
  background-color: #111;
  border-radius: 25px;
  text-align: center; 
  width: 100%
}


body{
  background-color: #FAFCF9;
}


p{
  font-family: "Roboto";
  font-family: 'Changa', sans-serif;
  
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%
}

li {
  display: inline-block;
  float: left;
  width: 25%
}

li a {
  display: block;
  color:white;
  font-weight: bold;
  text-align: center;
  padding: 14px 16px;
  font-family: 'Changa', sans-serif;
  text-decoration: none;
  width: 100%
}

.contactH2  {

  font-family: "roboto";
  text-align: center;

}
#contact  {
  font-size: 55px;
  text-align: center;
  display: block;
  color: black;
  font-family: "Roboto";
}
h4  {
  text-align: center;
}
a:link  {  text-decoration: none;  }