h2{
  font-family: "Changa", Times, serif;
}
h3{
font-family: "Changa", Times, serif;
}

#clickhere{
  float: 100px;
}

#KRA{
  text-align: center;
}

.header {
  font-family: "Changa", Times, serif;
  text-align: center;
  padding: 20px;
  font-size: 40px;
}

.active{
background-color:green;
  border-radius: 25px;
}

 .topnav{
  background-color: #111;
  border-radius: 25px;
  text-align: center; 
  width: 100%;
}


body{
  background-color: #FAFCF9;
}


p{
  font-family: "Changa", sans-serif;
}

#favorites{
  font-family: "Changa", sans-serif;
}

a {
  color: black;
  border-radius: 25px;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%
}

li {
  display: inline-block;
  float: left;
  width: 25%
}

li a {
  display: block;
  color:white;
  font-weight: bold;
  text-align: center;
  padding: 14px 16px;
  font-family: 'Changa', sans-serif;
  text-decoration: none;
  width: 100%
}

.contactH2  {

  font-family: "Changa", sans-serif;
  text-align: center;
  


}
#contact  {
  font-size: 35px;
  text-align: center;
  display: block;
  color: black;
  font-family: "Changa", sans-serif;
  font-weight: bold;
}

.favoriteButton{
  font-family: "Changa", sans-serif;
  float: right;
  margin-right: 70px;
  font-weight: bold;
}

#contact:link  {  text-decoration: none;  }

.trustpilot-widget{
 color: #FAFCF9;
}
