<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
</head>
<body>
    <h1>Varning! Den här sidan är under bearbetning och har en grov brist på säkerhet! Använd inte lösenord som du använder till annat. Använd på egen risk.</h1>
    <h2>Login</h2>
    <form method="POST" action="/login">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>
        <br>
        <input type="submit" value="Login">
    </form>

    <h2>Register</h2>
    <form method="POST" action="/register">
        <label for="username_reg">Username:</label>
        <input type="text" name="username" id="username_reg" required>
        <br>
        <label for="password_reg">Password:</label>
        <input type="password" name="password" id="password_reg" required>
        <br>
        <input type="submit" value="Register">
    </form>
</body>
</html>
