body {
    font-family: Arial, sans-serif;
    background-color: rgb(250, 252, 249);
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
}

h1 {
    text-align: center;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

li:last-child {
    border-bottom: none;
}


#back{
    text-align: center;

}

#back a{
    color: black;
    text-decoration: none;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(250, 252, 249);
    
}

.highlighted {
    background-color: #c3ffd5;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 5px;
}


.clickhere{

    text-align: center;
    margin-top: 10px;
}

.datum{
    margin-bottom: 10px;
    display: inline-block;
}